a {
    color: rgb(0, 223, 216); /* Color turquesa para los enlaces */
    text-decoration: none; /* Quita el subrayado */
}


body {
    background-color: rgb(51, 51, 51); /* Fondo oscuro en toda la página */
    margin: 0;
    padding: 0;
}

.margen {
    margin: 0 auto;
    width: 30%; /* Ajusta el ancho del contenedor */
    background-color: white;
    text-align: justify;
    padding: 20px;
    position: relative;
}

.Primerafoto {
    width: 100%;
    /*height: auto;*/
   /* display: block;*/
    margin: 10px; /* Elimina márgenes */
}


.Segundafoto {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}


.Tercerafoto {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 0; /* Se pega abajo */
    margin-bottom: 0; /* Elimina margen inferior */
}
